* {
background-image: url("https://static.vecteezy.com/system/resources/previews/001/102/791/original/soft-blurred-pastel-holographic-design-vector.jpg");
background-color: #cccccc;
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
  transition: 0.3s;
  padding-left: 5px;
  padding-right: 5px;
  margin: 15px 10px 5px 10px;
  width: 90%;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 15%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  padding: 1rem;
  border-radius: 5px;
}

.card img {
  width: 100%;
}

.card img:hover {
  cursor: pointer;
}

.card h2 {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(100% - 5rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(50% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(50% - 3rem);
  }
}

#nav-item-1, #nav-item-2, #nav-item-3 {
  display: inline-block;
  align-content: center;
  padding: 5px;
  color: white;
  margin: auto;
}

.header {
  text-align: center;
}

.login-form {
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  width: 90%;
  padding: 10px;
  /* transform: translate(-150px, 100px); */
  box-sizing: border-box;
  border-radius: 10px;
}

.login-form h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.login-form label {
  color: #fff;
}

.login-form input, button {
  text-align: center;
  margin-left: 12px;
  margin-right: 2px;
  padding: 3px;
}